* {
    margin: 0;
    padding: 0;
}

.cabecalho{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0d4112;

}

.cartao{
    width: 260px;
    height: 200px;
}

.cartao-imagem{
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#0c6e16;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho-link{
    color: white;
    text-decoration: none;
}

h1{
    color: #199c26;
    font-size: 24px;
}

footer{
   background-color: #042b08;
   padding: 15px 25px;
   color: white;
}
cartao-interno{
    position:relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cartao:hover .cartao-interno{
    transform:rotateY(180deg);
}

.cartao-frente, .cartao-verso{

}
